@font-face{
	font-family: Sunn;
	src: url('../fonts/SUNN.otf');
}

@font-face{
	font-family: Edelsans;
	src: url('../fonts/edelsans_regular.otf');
}

@font-face{
	font-family: raleway;
	src: url('../fonts/Raleway-Light.ttf');
}

@font-face{
	font-family: "Jaapokki";
	src: url('../fonts/Jaapokki-Regular.otf');
}

body{
	background-image: url('../images/postsback.jpg');
	margin:0 auto;
	background-size: cover;
	background-width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#logo{
	float: left;
	width: 150px;
	padding: 5px 0 0 60px;
}

#logoImg{
	float: left;
	width: 100%;
}

#nav{
	padding-top: 2%;
	height: 200px;
	width:100%;
	position: fixed;
}

#nav ul {
	float: right;
	list-style-type: none;
	margin: 0;
	padding: 20px 5% 0 0;
}

#nav li{
	display: inline-block;
	float:left;
	width:80px;
	font-family: Calibri;
	font-size: 15px;
	text-align: center;
	letter-spacing: 2px;
	padding: 5px 0 5px 0;
}

#nav a{
	transition:color 0.45s ease;
}

#nav a:hover{
	color: #7f8c8d;
}

#selected{
	background-color: rgba(0,0,0,0.3);
	border: 1px;
	border-radius: 3px;
	color: white;
	transition: background-color 1s ease;
}

#selected:hover{
	background-color: rgba(152,152,152,0.3);
	border-color:rgba(152,152,152,0.2);
	color:rgb(192,192,192);
}

a{
	text-decoration: none;
	color: black;
}

#firstblock{
	float: left;
	width: 100%;
	text-align: center;
}

#container{
	position: relative;
	top: 80px;
	float: left;
	width: 100%;
}

.blockPic{
	width: 50%;
	height: auto;
}

.block{
	margin: 0 auto;
	text-align: center;
	width: 800px;
	background-color: white;
	padding: 2% 2% 2% 2%;
	margin-top: 2%;
	border-radius: 10px;
}

.block1{
	margin: 0 auto;
	text-align: center;
	width: 800px;
	padding: 2% 2% 2% 2%;
	margin-top: 2%;
	border-radius: 10px;
}

.field{
	font-family: Edelsans;
	margin: 0;
}

.words{
	text-align: left;
}

.descriptor{
	font-family: Raleway;
}

h3{
	font-family: Sunn;
	font-size: 5em;
	margin: 0;
}

h1{
	position: relative;
	top: 100px;
	text-align: center;
	font-family: Sunn;
	font-size: 7em;
	margin: 0;
	color: #01bee8;
}

.formField{
	width: 20em;
	height: 2em;
	font-family: Raleway;
	font-size: 1em;
	padding-left: .5em;
} 

form{
	padding: 0 10% 0 10%;
	text-align: right;
}

#searchDescription{
	float: left;
	font-size: 2em;
	text-align: left;
	color: black;
	font-family: Raleway;
}

#submit{
	width: 20.8em;
	font-family: Raleway;
	font-size: 1em;
}

#destroy{
	width: 20.8em;
	font-family: Raleway;
	font-size: 1em;
	background-color: #e74c3c;
	border: 0;
	border-radius: 5px;
	padding: 10px 0 10px 0;
}

#destroyer{
	text-align: center;
}

.block2{
	margin: 0 auto;
	text-align: center;
	width: 800px;
	margin-bottom: 2%;
}